nav,
.nav {
    color: white;
    background: linear-gradient(aqua, rgb(25, 161, 239));
}

main,
.main {
    background: linear-gradient(aqua, rgb(50, 173, 64));
}

.banner {
    width: 100%;
    height: auto;
}

.btn1 {
    color: black;
    background-color: white;
}

.btn2 {
    color: white;
    background-color: black;
}

footer,
.footer {
    background: linear-gradient(to top, aqua, rgb(8, 135, 209));
    color: white;
}

.flashy-text {
    color: aqua;
    animation: blink-animation 0.2s steps(5, start) infinite;
    -webkit-animation: blink-animation 0.2s steps(5, start) infinite;
}

@keyframes blink-animation {
    to {
        visibility: hidden;
    }
}
@-webkit-keyframes blink-animation {
    to {
        visibility: hidden;
    }
}